body
{
	background-image: url("../images/Background-website-01.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

body, input, select {
  font-family:Helvetica,Arial,sans-serif;
  font-size: 12px;
}

select, input { border: 1px solid gray; }

.exemple {
  border: 10px solid #000000;
  columns:3;
}

td {
  column-span: all;
}